<% user = current_user %>
<% is_owner = user ? user.id == @user.id : false %>

<div class="container">
<h2><%= "#{@user.username}" %></h2>
<h4><%= "#{@user.first} " "#{@user.last}" %></h4>
<p><%= "#{@user.bio}" %></p>
<p>Number of kids:
  <%=" #{@user.num_of_kids}" %>
</p>
    <% if is_owner %>
      <div>
        <a class="btn btn-info" href=<%= edit_user_path %>>Edit Profile</a>
      </div>
    <% end %>
  </div>

</div>
